@using FileUpload.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileUpload</title>
</head>

<body>
    <header>
        <h1>Hello, FileUpload</h1>
        <partial name="newApprenticePartial" model="@Model.Apprentice" />
    </header>
    <main>
        <ul>
            @foreach (var item in ViewBag.ApprenticeList)
            {
                <li>
                    <header>
                        <a>edit</a>
                        <a>delete</a>
                    </header>
                    <h2>@item.name</h2>
                    <p>@item.UploadName</p>
                    <img src="~/img/uploads/@(item.UploadName)" alt="">
                </li>
            }
        </ul>
    </main>

</body>

</html>