@using FileUpload.Models
@model Apprentice

<div class="apprentice-Container">


    <header>

        <h2>Add a new Apprentice</h2>
        <form asp-action="CrateApprentice" asp-controller="Home" method="Post" enctype="multipart/form-data">

            <input asp-for="name" placeholder="name">
            <input asp-for="UploadName" placeholder="name" style="display: none;">
            <input asp-for="files" type="file" multiple>

            <input type="submit" value="Submit!">
        </form>

    </header>
    <main>
        <h2>Rendering db</h2>
    </main>
</div>
